body {
    font-family: 'Oswald', sans-serif;
}

li {
    font-weight: 200;
    font-family: 'Oswald', sans-serif;
}

header a {
    text-decoration: none;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 5px 15px 5px 15px;
    font-size: 15px;
}

header a::hover {
    font-size: 25px;
}

.link-nav {
    text-decoration: none;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 5px 15px 5px 15px;
    font-size: 15px;
}

nav {
    margin-top: 20px;
}
